nav { margin: 5vw 11vw; text-align: left; }
nav > * { display: block; }

.link-family { margin: 4vw 0 5vw 0; }
ul { padding-left: 2vw; }

h2 { font-size: 2.4vw; }
h3, ul, p { font-size: 2vw; margin-left: 2vw; }
nav h3, nav p { display: inline; }