html { background-color: #fdd; }

body {
    font-family: sans-serif;
    font-weight: 100;
    text-overflow: clip;
}

#user-input {
    width: 240px;
    height: 270px;
    float: left;
    padding: 20px 30px;
    background-color: white;
}

#input-text {
    margin-top: 30px;
    height: 40px;
    width: 100%;
    font-size: 150%;
    padding: 7px;
}

#go {
    margin: 30px 0 0 190px;
    width: 50px;
    font-size: 100%;
}

#buttons {
    float: left;
    margin-left: 40px;
}

button {
    position: absolute;
    height: 40px;
}

#iterate { top: 140px; }
#start { top: 225px; background-color: palegreen; }
#stop { top: 275px; background-color: #fab; }
#en { margin-top: 300px; }

#results {
    position: absolute;
    left: 450px;
    height: 680px;
    overflow: scroll;
}

#previous-training {
    margin-top: 70px;
}

.guess { font-weight: 700; }
.correct { color: forestgreen; }
.wrong { color: red; }

#user-trial { float: left; margin: 0 30px;}

#improvement {
    position: absolute;
    top: 340px;
}

/* #canvas-holder{
    position: absolute;
    top: 450px;
    left: 10px;
    background-color: white;
} */

#background-fade1, #background-fade2 {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0;
}

#background-fade1 {
    background-color: bisque;
    animation: fade 30s linear infinite;
}

#background-fade2 {
    background-color: #cdf;
    animation: fade 30s linear 10s infinite;
}

@keyframes fade {
    0%   { opacity: 0; }
    33%  { opacity: 1; }
    66%  { opacity: 0; }
    100% { opacity: 0; }
}
