#message { padding-top: 6vh; visibility: visible; }

img {
  position: relative;
  top: 1vw;
  width: 2em;
  transform: rotate(45deg);
}

button { padding: 1vw; font-size: 2vw; }

#l-arrow { margin-left: 2vw; }
#r-arrow { margin-right: 2vw; }